.slider{
    height:calc(100vh - 80px);
    width:100vw;
    position: relative;
    overflow: hidden;
    
        img
        { 
            height:100%;
            width:100vw;
            object-fit: cover;
        }
    
     .carCaption{
        z-index: 999;
        color: #A9F1DF;
        padding: 10px;
        position: absolute;
        bottom: 50%;
        left: 0;
        right: 0;
     }
   

}